
.wp-block-create-block-sk-image-carousel {
	.swiper {
		width: 100%;
		height: 100%;
	}
	.slider-container{
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		object-fit: cover;
		display: flex;
	}
	.slider-text-container{
		padding: 60px;
		display: flex;
		flex-direction: column;
	}

}
